*{
margin: 0;
padding: 0;
}
.nav{  
    text-align: center;
    padding: 32px 0px;
}
.head-nav{
    list-style: none;
}
.nav-disp{
   display: inline-block; 
   margin-left: 72px;
}

.nav-link{
text-decoration: none;
color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
}

.image-back{
    background: #00BDC9;
width: auto;
height: auto;
text-align: center;
padding: 92px 0;
}
.image{
text-align: center;
width: 600px;
height: 370px;
}
.main-text{
padding: 88px 0px;
width: 856px;
height: auto;
margin: auto;
}
.head{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
margin-top: 0;
margin-bottom: 0;
}


.text{
    width: 856px;
padding-top: 40px;
color: #161616;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
}

.text-o{
    color: #04959E;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}


.text-num{
    padding: 24px 0px 40px 0px;
    margin: 0 auto;
    margin-left: 23px;
    width: 830px;
}
.text-num-o{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.btn{
    background: #04959E;
display: block;
padding: 10px 24px;
align-items: center;
color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
text-align: center;
margin: auto;
}

.footer{
align-items: center;
margin: auto;
border-top: 1px solid black;
}
.footer-text{
width: 856px;
padding: 16px 0px;
text-align: center;
margin: auto;
}